
/* Regular */
@font-face {
    font-family: 'Ebbe';
    src: url('../fonts/Ebbe Bold.woff2') format('woff2');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

/* light */
@font-face {
    font-family: 'Ebbe';
    src: url('../fonts/Ebbe Thin.woff2') format('woff2');
    font-weight: 700;
    font-style: normal;
    font-display: swap;
}

/* Bold */
@font-face {
    font-family: 'Ebbe';
    src: url('../fonts/Ebbe Black.woff2') format('woff2');
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}
